{% set a_autoclosedtags = ['base', 'meta', 'link', 'hr', 'br', 'area', 'img', 'track', 'embed', 'param', 'source', 'col', 'input', 'menuitem'] %}
{% set o_defaultConfig = {
    'fw-element': {
        tag: 'div'
    },
    'fw-wrapper': {
        type: 'fw-element',
        tag: 'div'
    },

    'uk-icon': {
        tag: 'span',
        attributes: {
            'uk-icon': 'image'
        }
    },
    'uk-img': {
        tag: 'img',
        attributes: {
            'uk-img': ''
        }
    },
    'uk-svg': {
        tag: 'img',
        attributes: {
            'uk-svg': ''
        }
    },
    'uk-button': {
        tag: 'button',
        attributes: {
            class: 'uk-button'
        }
    },
    'uk-link': {
        tag: 'a',
        attributes: {
            class: 'uk-link'
        }
    }
} %}

{% macro HTMLElement(o_config) %}
    <{{ o_config.tag }}
        {{ printAttributes(o_config.attributes) }}
    {% if o_config.tag in a_autoclosedtags %}
        />
    {% else %}
        >
            {% if o_config.content %}
                {{ component(o_config.content) }}
            {% endif %}
        </{{ o_config.tag }}>
    {% endif %}
{% endmacro %}

{% macro printAttributes(o_attributes) %}
    {% if o_attributes %}
        {% for s_name, s_value in o_attributes %}
            {{ s_name }}="{{ s_value }}"
        {% endfor %}
    {% endif %}
{% endmacro %}

{% macro wrapper(a_components, u_wrapper) %}
    {% set o_wrapper = u_wrapper if u_wrapper.type else o_defaultConfig['fw-wrapper'] | fw_assign( {
        tag: u_wrapper | default(o_defaultConfig['fw-wrapper'].tag)
    } ) %}
    {% for o_component in a_components | fw_toArray %}
        {{ component(o_wrapper | fw_assign({ content: o_component })) }}
    {% endfor %}
{% endmacro %}

{% macro component(a_configs) %}
    {% for o_config in a_configs | fw_toArray %}
        {% set o_typeConfig = o_defaultConfig[o_config.type] %}
        {% if o_typeConfig %}
            {% if o_config.type == 'fw-wrapper' %}
                {{ wrapper(o_config.content, (o_typeConfig | fw_assign(o_config.wrapper)) if o_config.wrapper.type else o_config.wrapper ) }}
            {% else %}
                {{ HTMLElement(
                    o_typeConfig | fw_assign(o_config) | fw_assign({
                        attributes: {
                            class: ( o_config.attributes.class + ' ' + o_typeConfig.attributes.class ) | replace('undefined', '') | trim
                        }
                    })
                ) }}
            {% endif %}
        {% else %}
            {{ o_config | safe }}
        {% endif %}
    {% endfor %}
{% endmacro %}