<section id="CTX__Battle" class="outputContext">
    
    <div class="Battle__Interface">
        <div class="Battle__Interface_Wrapper">

            <div class="Battle__HUDs">
                <div id="TXT__Battle_Timer" class="outputText Battle__Timer">99</div>
                <div id="LAY__Battle_HUD_" class="outputLayer Battle__HUD">
                    <div class="Battle__HUD_Character">
                        <h3 id="TXT__Battle_HUD_Number_" class="outputText --change Battle__HUD_Character_Number"></h3>
                        <h2 id="TXT__Battle_HUD_Name_" class="outputText --change Battle__HUD_Character_Name"></h2>
                        <div id="LAY__Battle_HUD_Life_" class="outputLayer --change Battle__HUD_Character_Life">
                            <div id="LAY__Battle_HUD_Bar_Life_" class="outputLayer --change Battle__HUD_Bar_Life"></div>
                            <div id="LAY__Battle_HUD_Bar_Lose_" class="outputLayer --change Battle__HUD_Bar_Lose"></div>
                        </div>
                        <div id="LAY__Battle_HUD_Round_" class="outputLayer --change Battle__HUD_Character_Round"></div>
                        <div id="LAY__Battle_HUD_Ki_" class="outputLayer --change Battle__HUD_Character_Ki">
                            <div id="TXT__Battle_HUD_Ki_Number_" class="outputText --change Battle__HUD_Ki_Number"></div>
                            <div id="LAY__Battle_HUD_Ki_Bar_" class="outputLayer --change Battle__HUD_Ki_Bar"></div>
                        </div>
                    </div>
                    <img id="SPT__Battle_HUD_Sprite_" class="outputSprite --change Battle__HUD_Sprite" />
                </div>
            </div>
            <div class="Battle__Combo">
                <span id="TXT__Battle_Combo_Text_2" class="outputText Battle__Combo_Text">0 hit !<i>0 damages</i></span>
                <span id="TXT__Battle_Combo_Text_1" class="outputText Battle__Combo_Text">0 hit !<i>0 damages</i></span>
            </div>
            <div class="Battle__Info">
                <img id="SPT__Battle_Info_Sprite" class="outputSprite Battle__Info_Sprite" />
                <span id="TXT__Battle_Info_Text" class="outputText Battle__Info_Text">
            </div>
            {% include "index/_scenes/_training/_data.html" %}

            <section class="Battle__Menu">
                <nav id="LAY__Battle_Menu" class="outputLayer Menu__Layer Battle__Menu_Principal">
                    <ul>
                        <li id="TXT__Battle_Menu_Rematch" class="outputText Menu__Button">Rematch</li>
                        <li id="TXT__Battle_Menu_Select" class="outputText Menu__Button">Select character</li>
                        <li id="TXT__Battle_Menu_Stage" class="outputText Menu__Button">Select stage</li>
                        <li id="TXT__Battle_Menu_Quit" class="outputText Menu__Button">Quit</li>
                    </ul>
                </nav>
                {% for fw_training in FW.content.training %}
                    {% include "index/_scenes/_training/" + fw_training %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div id="LAY__Battle_Area" class="outputLayer Battle__Area">
        <div class="Battle__Area_Blur --left">
            <div id="LAY__Training_History_1" class="outputLayer Training__History"></div>
        </div>
        <div class="Battle__Area_Blur --right">
            <div id="LAY__Training_History_2" class="outputLayer Training__History"></div>
        </div>

        <div id="LAY__Battle_Entity_" class="outputLayer Battle__Entity">
            <img id="SPT__Battle_Entity_Sprite_" class="outputSprite --change Battle__Entity_Sprite" />
            <div id="LAY__Training_HurtBox_" class="outputLayer --change Training__Box Training__HurtBox"></div>
            <div id="LAY__Training_HitBox_" class="outputLayer --change Training__Box Training__HitBox"></div>
            <div id="LAY__Training_PositionBox_" class="outputLayer --change Training__Box Training__PositionBox"></div>
        </div>
    </div>
</section>