$font-family: 'Raleway', sans-serif;
$font-color: #333;
$font-size-tiny: 10px;
$font-size-small: 18px;
$font-size: 20px;
$font-size-medium: 32px;
$font-size-large: 64px;
$font-size-extra: 96px;

$font-inverse-color: #fff;
$font-disable-color: #AAA;

$font-emphasis-family: 'Megrim', cursive;
$font-emphasis-color: $font-color;

$font-design-family: 'Trade Winds', cursive;
$font-design-color: $font-color;

$font-japan-family: 'Noto Sans JP', sans-serif;
$font-japan-color: $font-inverse-color;

$space-small: 15px;
$space-medium: 25px;
$space-large: 50px;
$space-extra: 100px;

$width-tiny: 200px;
$width-small: 400px;
$width-medium: 600px;
$width-large: 900px;
$width-extra: 100%;

$height-tiny: 100px;
$height-small: 200px;
$height-medium: 400px;
$height-large: 600px;
$height-extra: 900px;