.Menu__Layer {
    ul {
        padding: 0;
        margin: 25px auto;
    }

    li {
        display: block;
        margin: 1px auto;
        padding: 10px 25px;
        font-size: 1.25rem;
    }

    &.Menu__nb_cursor_1 {
        .Menu__cursor_0 {
            box-shadow: 0 0 0 1px Black;
        } 
    }

    &.Menu__nb_cursor_2 {
        .Menu__cursor_0 {
            box-shadow: -2px -2px 0 0 Black;
        }
        .Menu__cursor_1 {
            box-shadow: 2px 2px 0 0 Black;
        }
        .Menu__cursor_0.Menu__cursor_1 {
            box-shadow: -2px -2px 0 0 Black, 2px 2px 0 0 Black;
        }
    }
}