/* Battle */
#CTX__Battle {
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 256px;
}

.Battle__Interface {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .Battle__Interface_Wrapper {
        max-width: 1024px;
        margin: 0 auto;
        padding: 50px;
        position: relative;
        height: 100%;
    }
}


.Battle__HUDs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Battle__Timer {
    order: 1;
    text-align: center;
    font-size: 2.4em;
    background-color: #333;
    color: #fff;
    padding: 5px;
    margin: 0 -25px -5px;
    z-index: 10;
    min-width: 60px;
    flex: 0 0 auto;
}

.Battle__HUD {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    order: 0;
    text-align: right;
    justify-content: flex-end;

    &:last-child {
        justify-content: flex-start;
        order: 2;

        .Battle__HUD_Character {
            text-align: left;
            order: 1;
        }

        .Battle__HUD_Character_Life {
            flex-direction: row;
        }

        .Battle__HUD_Character_Ki {
            flex-direction: row-reverse;
        }
    }
    
    &_Character {
        
        &_Number {
            font-size: 1em;
            margin: 15px 10px 5px;
        }
    
        &_Name {
            font-size: 2.4em;
            margin: 5px 10px 15px;
        }

        &_Life {
            border: 2px solid Black;
            margin: 5px -30px 2px;
            position: relative;
            display: flex;
            width: 400px;
        
            & > * {
                flex: 0 0 auto;
                height: 20px;
                min-width: 20px;

                &.Battle__HUD_Bar_Life {
                    background-color: #00F040;
                }
                &.Battle__HUD_Bar_Lose {
                    background-color: Orange;
                }
            }
        }

        &_Ki {
            display: flex;
            flex-direction: row;
            text-align: center;
            margin: 1px;
            position: absolute;
            bottom: 125px;
            left: 50px;
            right: 50px;
        
            & > * {
                width: 14px;
                height: 14px;
                margin: 0 -1px;
                
                &.Battle__HUD_Bar_Ki {
                    background-color: #6699FF;
                    display: block;
                    border-top: 2px solid Black;
                    border-bottom: 2px solid Black;

                    &:nth-child(2n) {
                        border-right: 2px solid Black;
                    }

                    &:nth-child(2n+1) {
                        border-left: 2px solid Black;
                    }
                }

                .Battle__HUD:last-child &.Battle__HUD_Bar_Ki {
                    
                    &:nth-child(2n) {
                        border-right: none;
                        border-left: 2px solid Black;
                    }

                    &:nth-child(2n+1) {
                        border-right: 2px solid Black;
                        border-left: none;
                    }
                }
            }
        }
    }
}

.Battle__Info {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 300px;
    left: 0;
    right: 0;
    z-index: 500;

    .--info & {
        display: flex;
    }

    &_Sprite {
        margin: 25px;
        background-color: White;
    }

    &_Text {
        text-transform: capitalize;
        font-size: 4.8em;
    }
}

.Battle__Combo {
    display: flex;
    margin: 50px 0;
    align-items: center;

    &_Text {
        flex: 1 1 auto;
        font-size: 2.4em;
        opacity: 0;
        transition: opacity 2s ease;
        padding: 4px;

        &.--show {
            opacity: 1;
            transition: none;
        }

        &:last-child {
            text-align: right;
        }
        i {
            font-size: 0.5em;
            display: block;
        }
    }
}

.Battle__Area {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    &::before {
        content: '';
        position: absolute;
        display: none;
        bottom: -256px;
        top: 0;
        left: -88px;
        right: -88px;
        background-color: rgba(0, 0, 0, 0.25);

        .--info &{
            display: block;
        }
    }

    &_Blur {
        display: block;
        position: absolute;
        top: 0;
        bottom: -256px;
        width: 88px;
        z-index: 1000;

        background-repeat: repeat-y;
        background-position-x: right;
        background-position-y: bottom;

        &::before {
            content: '';
            position: absolute;
            background-color: White;
            width: 500px;
            height: 100%;
        }

        &.--left {
            background-image: url('../images/stages/effects/blur_left.png');
        }

        &.--left,
        &.--left::before {
            right: 100%;
        }
        
        &.--right{
            background-image: url('../images/stages/effects/blur_right.png');
        }
        
        &.--right,
        &.--right::before {
            left: 100%;
            text-align: right;
        }
    }
}

.Battle__Entity {
    position: absolute;

    &.--dead {
        display: none;
    }
    
    &_Sprite {
        position: absolute;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translateY(-50%) !important;
        
        .--reverse & {
            transform: scaleX(-1) translateY(-50%) !important;
        }
    }
    
    #CTX__Battle:not(.--info) &.--freeze {

        &_pair {
            .Battle__Entity_Sprite {
                transform: translate(-4px, -50%) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(-4px, -50%) !important;
            }
        }

        &_impair {
            .Battle__Entity_Sprite {
                transform: translate(4px, -50%) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(4px, -50%) !important;
            }
        }
    }
}

.Battle__Character {
    width: 200px;
    height: 200px;
    transform-origin: 98px 182px;
    
    .Battle__Entity_Sprite {
        transform-origin: 100px 100px;
    }

    &.--float {
        &_up {
            .Battle__Entity_Sprite {
                transform: translate(0, calc(-50% - 4px)) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(0, calc(-50% - 4px)) !important;
            }
        }

        &_down {
            .Battle__Entity_Sprite {
                transform: translate(0, calc(-50% + 4px)) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(0, calc(-50% + 4px)) !important;
            }
        }
    }
}

.Battle__Projectile {
    width: 256px;
    height: 256px;
    transform-origin: 128px 190px;
    z-index: 0;
}

.Battle__Beam {
    width: 200px;
    height: 300px;
    transform-origin: 98px 232px;
    z-index: 0;
    
    .Battle__Entity_Sprite {
        transform-origin: 100px 150px;
    }
}

.Battle__Effect {
    width: 256px;
    height: 256px;
    transform-origin: 128px 210px;
    z-index: 20;
}