/* Battle */
#CTX__Battle {
    background-repeat: repeat-x;
    background-position-x: center;
    background-position-y: bottom;
    padding-bottom: 256px;
}

.Battle__Interface {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    .Battle__Interface_Wrapper {
        max-width: 1024px;
        margin: 0 auto;
        padding: $space-large;
        position: relative;
        height: 100%;
        overflow: hidden;
    }
}


.Battle__HUDs {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.Battle__Timer {
    order: 1;
    text-align: center;
    margin: 0 -45px -40px;
    z-index: 10;
    width: $width-tiny / 2;
    flex: 0 0 auto;
    font-family: $font-design-family;
    font-size: $font-size-large;
    text-shadow:
        1px 1px 0 $font-inverse-color,
        1px 0px 0 $font-inverse-color,
        0px 1px 0 $font-inverse-color;
}

.Battle__HUD {
    flex: 1 1 auto;
    display: flex;
    align-items: flex-start;
    order: 0;
    text-align: right;
    justify-content: flex-end;

    &:last-child {
        justify-content: flex-start;
        order: 2;

        .Battle__HUD_Character {
            text-align: left;
            order: 1;
        }

        .Battle__HUD_Character_Life {
            flex-direction: row;
        }

        .Battle__HUD_Character_Ki {
            flex-direction: row-reverse;
            right: 90px;
            left: auto;
        }

        .Battle__HUD_Character_Round {
            display: flex;
            flex-direction: row;
        }

        .Battle__HUD_Ki_Number {
            left: auto;
            right: -25px;
        }

        .Battle__HUD_Sprite {
            transform: scaleX(-1);
        }
    }
    
    &_Character {
        
        &_Number {
            font-size: $font-size-small;
            margin: $space-small / 2 $space-small 0;
        }
    
        &_Name {
            font-family: $font-design-family;
            font-size: $font-size-medium;
            margin: 0 $space-small $space-small / 2;
            text-shadow:
                1px 1px 0 $font-inverse-color,
                1px 0px 0 $font-inverse-color,
                0px 1px 0 $font-inverse-color;
        }

        &_Life {
            border: 2px solid Black;
            margin: 5px -30px 2px;
            position: relative;
            z-index: 100;
            display: flex;
            width: 400px;
            flex-direction: row-reverse;
            background-color: rgba(255, 255, 255, 0.5);
        
            & > * {
                flex: 0 0 auto;
                height: 20px;
                min-width: 20px;

                &.Battle__HUD_Bar_Life {
                    background-color: #00F040;
                }
                &.Battle__HUD_Bar_Lose {
                    background-color: Orange;
                }
            }
        }

        &_Ki {
            position: absolute;
            bottom: 125px;
            left: 90px;
            width: 250px;
            display: flex;
            flex-direction: row;
            border: 2px solid #333;
            background-color: rgba(255, 255, 255, 0.5);

            .Battle__HUD_Ki_Number {
                font-family: $font-design-family;
                font-size: $font-size-large;
                text-shadow:
                    1px 1px 0 $font-inverse-color,
                    1px 0px 0 $font-inverse-color,
                    0px 1px 0 $font-inverse-color;
                padding: 5px;
                position: absolute;
                bottom: -25px;
                left: -25px;
                min-width: 50px;
                z-index: 100;
                text-align: center;
            }
        
            .Battle__HUD_Ki_Bar {
                height: 20px;
                background-color: #6699FF;
            }
        }

        &_Round {
            display: flex;
            flex-direction: row-reverse;
            
            span {
                margin: 5px 5px -15px;
                height: 10px;
                width: 25px;
                background-color: #fff;
                border-bottom: 5px solid rgba(0, 0, 0, 0.25);
                box-shadow: 0 0 0 2px #333;

                &:not(.--show){
                    display: none;
                }
            }
        }
    }
}

.Battle__HUD_Bar_Life,
.Battle__HUD_Bar_Lose,
.Battle__HUD_Ki_Bar {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: block;
        height: 5px;
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.Battle__Info {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    top: 300px;
    left: 50px;
    right: 50px;
    z-index: 500;
    height: 150px;
    transition: opacity 1s ease;
    opacity: 0;

    &::before {
        content: '';
        display: block;
        left: 25%;
        right: 25%;
        bottom: -30px;
        height: 15px;
        background-color: #fff;
        border-bottom: 5px solid rgba(0, 0, 0, 0.25);
        box-shadow: 0 0 0 2px #333;
        position: absolute;
        z-index: -1;

        .--info-blank &{
            display: none;    
        }
    }

    .--info & {
        opacity: 1;
        transition: none;
    }

    .--info-left & {
        justify-content: flex-start;
        text-align: left;

        &::before {
            left: 0;
        }
    }

    .--info-right & {
        justify-content: flex-start;
        text-align: right;
        flex-direction: row-reverse;

        &::before {
            right: 0;
        }
    }

    &_Sprite {
        margin: 0 20px -23px;
    }

    &_Text {
        font-family: $font-design-family;
        font-size: $font-size-large;
        white-space: nowrap;
        text-shadow:
            1px 1px 0 $font-inverse-color,
            1px 0px 0 $font-inverse-color,
            0px 1px 0 $font-inverse-color;
    }
}

.Battle__Combo {
    display: flex;
    margin: 50px 0 0;
    align-items: center;

    &_Text {
        flex: 1 1 auto;
        font-size: $font-size * 2;
        font-family: $font-design-family;
        opacity: 0;
        transition: opacity 2s ease;
        padding: 4px 20px;
        position: relative;
        text-shadow:
            1px 1px 0 $font-inverse-color,
            1px 0px 0 $font-inverse-color,
            0px 1px 0 $font-inverse-color;

        &.--show {
            opacity: 1;
            transition: none;
        }

        &:last-child {
            text-align: right;
        }

        i {
            font-family: $font-family;
            font-size: $font-size;
            display: block;
            margin-top: -$space-small;
            text-shadow: none;
        }
    }
}

.Battle__Area {
    max-width: 1024px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
    &::before {
        content: '';
        position: absolute;
        display: none;
        bottom: -256px;
        top: 0;
        left: -88px;
        right: -88px;
        background-color: rgba(0, 0, 0, 0.25);

        .--info &{
            display: block;
        }
    }

    &_Blur {
        display: block;
        position: absolute;
        top: 0;
        bottom: -256px;
        width: 88px;
        z-index: 1000;

        background-repeat: repeat-y;
        background-position-x: right;
        background-position-y: bottom;

        &::before {
            content: '';
            position: absolute;
            background-color: White;
            width: 500px;
            height: 100%;
        }

        &.--left {
            background-image: url('../images/stages/effects/blur_left.png');
        }

        &.--left,
        &.--left::before {
            right: 100%;
        }
        
        &.--right{
            background-image: url('../images/stages/effects/blur_right.png');
        }
        
        &.--right,
        &.--right::before {
            left: 100%;
            text-align: right;
        }
    }
}

.Battle__Entity {
    position: absolute;

    &.--dead {
        display: none;
    }
    
    &_Sprite {
        position: absolute;
        top: 50%;
        transform-origin: 50% 50%;
        transform: translateY(-50%) !important;
        
        .--reverse & {
            transform: scaleX(-1) translateY(-50%) !important;
        }
    }
    
    #CTX__Battle:not(.--info) &.--freeze {

        &_pair {
            .Battle__Entity_Sprite {
                transform: translate(-4px, -50%) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(-4px, -50%) !important;
            }
        }

        &_impair {
            .Battle__Entity_Sprite {
                transform: translate(4px, -50%) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(4px, -50%) !important;
            }
        }
    }
}

.Battle__Character {
    width: 200px;
    height: 200px;
    transform-origin: 98px 182px;
    
    .Battle__Entity_Sprite {
        transform-origin: 100px 100px;
    }

    &.--float {
        &_up {
            .Battle__Entity_Sprite {
                transform: translate(0, calc(-50% - 4px)) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(0, calc(-50% - 4px)) !important;
            }
        }

        &_down {
            .Battle__Entity_Sprite {
                transform: translate(0, calc(-50% + 4px)) !important;
            }
            
            &.--reverse .Battle__Entity_Sprite {
                transform: scaleX(-1) translate(0, calc(-50% + 4px)) !important;
            }
        }
    }
}

.Battle__Projectile {
    width: 256px;
    height: 256px;
    transform-origin: 128px 190px;
    z-index: 0;
}

.Battle__Beam {
    width: 200px;
    height: 300px;
    transform-origin: 98px 232px;
    z-index: 0;
    
    .Battle__Entity_Sprite {
        transform-origin: 100px 150px;
    }
}

.Battle__Effect {
    width: 256px;
    height: 256px;
    transform-origin: 128px 210px;
    z-index: 20;
}

/* Menu */
.Battle__Menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);

    .--menu & {
        display: flex;
    }

    & > * {
        min-width: $width-small;
        background-color: White;
        text-align: center;
        border: 2px solid Black;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

        ul {
            margin: 25px !important;
        }
    }
}