/* Loading */
#CTX__Dev {
	display: flex;

    .--menu {
        flex: 1 1 100%;

        ul {
            display: flex;
            padding: 0;
            margin: 10px 25px;

            li {
                display: block;
                padding: 5px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .--selected {
        color: red !important;
    }

    #LAY__Dev_Menu {
        flex: 0 0 250px;
        min-width: 250px;
        box-shadow: 11px 0 10px -10px rgba(0, 0, 0, 0.1);
        position: relative;

        li {
            display: block;
            cursor: pointer;
            font-size: 2em;
            padding: 5px;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .Dev__Wrapper {
        height: 100%;
        flex: 1 1 100%;
        display: flex;
        flex-direction: column;

        .Dev__Menu {
            font-size: 2em;
            position: relative;
            flex: 0 0 auto;
            background-color: #fff;
            box-shadow: 0 11px 10px -10px rgba(0, 0, 0, 0.1);
        }
    }

    #LAY__Dev_Content {
        overflow-y: auto;
        background-color: #f7f7f7;
    }

    .Dev__Frame {
        
        display: none;

        &.--show {
            display: block;
        }

        .Dev__Frame_Colors {
            position: fixed;
            top: 8px;
            right: 0;
            z-index: 1000;
        }

        & > * {
            flex-wrap: wrap;
            align-items: center;
            display: flex;
            flex: 1 1 100%;
        }

        .Dev__Frame_Entity {
            margin: 10px;
            position: relative;
            width: 200px;
            height: 200px;
            transform-origin: 98px 182px;

            &:hover {
                color: red;
            }

            .Dev__Frame_Entity_Name {
                position: absolute;
                top: 100%;
                left: 0;
                right: 0;
                text-align: center;
            }
    
            .Dev__Frame_Entity_Sprite {
                position: absolute;
                top: 50%;
                transform-origin: 50% 50%;
                transform: translateY(-50%) !important;

                &:not(.--show) {
                    display: none;
                }
            }
        }
    }

    .Dev__Frame_Entity_Box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;

        & > * {
            display: block;
            position: absolute;
            border: 1px solid Black;
            background-color: rgba(White, 0.25);
        }
    }

    .Dev__Frame_Entity_PositionBox > * {
        border-color: Deepskyblue;
        background-color: rgba(Deepskyblue, 0.25);
    }
    
    .Dev__Frame_Entity_HurtBox > * {
        border-color: Lime;
        background-color: rgba(Lime, 0.25);
    }
    
    .--guard .Dev__Frame_Entity_HurtBox > * {
        border-color: Plum;
        background-color: rgba(Plum, 0.25);
    }
    
    .--hit .Dev__Frame_Entity_HurtBox > * {
        border-color: Orange;
        background-color: rgba(Orange, 0.25);
    }
    
    .Dev__Frame_Entity_HitBox > * {
        border-color: Red;
        background-color: rgba(Red, 0.25);
    }
}