/* Input */
#CTX__Input {
    
    .Input__Controllers {
        display: flex;
        justify-content: center;
    
        .Input__Controller {
            flex: 1 1 $width-small;
            max-width: $width-small;
            margin: 0 $space-medium;
        
            &_Number {
                font-size: 1.25em;
            }

            .Input__Button {
                display: flex !important;
            
                & > *:first-child {
                    text-align: left;
                    flex: 1 1 100%;
                }
                
                & > *:last-child {
                    flex: 0 0 auto;
                    color: $font-disable-color;
                    min-width: 15px;
                }
            }
        }
    }
}