/* Loading */
#CTX__Loading {}

#LAY__LoadingStep {
    margin: $space-medium auto;
    height: $height-medium;

    span {
        display: block;
        text-align: center;
        color: DarkGray;
    }
}