/* Menu */
#CTX__Menu {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 20px;

    h1 {
        font-size: 5rem;
    }

    ul {
        width: 200px;
    }

    li.disable {
        color: lightgrey;
    }
}