/* Select */
#CTX__Select {

    /* Player */
    .Select__Players {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & > * {
            flex: 1 1 ($width-medium / 2) + $width-tiny;
            max-width: ($width-medium / 2) + $width-tiny;
            text-align: left;
            order: 0;
        }

        .Select__Player {
            
            &:last-child {
                text-align: right;
                order: 2;

                & .Select__Player_Character_Sprite {
                    transform: scaleX(-1) !important;
                }
            }
                
            &_Character_Sprite {
                margin: 0 0 $space-medium;
                display: inline-block;
            }
            
            &_Character_Name {
                font-family: $font-design-family;
                font-size: $font-size-large;
                margin: 0;

                i {
                    font-family: $font-family;
                    display: block;
                    font-size: $font-size-small;
                    color: $font-disable-color;
                    margin-top: -$space-small;
                }
            }

            &_Number {
                font-size: 1.25em;
                margin: $space-small 0 0;
                color: $font-disable-color;
            }
        }
    }

    /* Character */
    .Select__Characters {
        display: flex;
        justify-content: center;
        margin: $space-large 0;

        & > * {
            margin: 5px;
            position: relative;
        }

        .Menu__cursor_0::before {
            content: 'P1';
            font-family: $font-family;
        }

        .Menu__cursor_1::after {
            content: 'P2';
            font-family: $font-family;
        }
    }
}