/* Setting */
#CTX__Setting {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 20px;

    h1 {
        font-size: 7em;
    }
    
    .Setting__Players {
        display: flex;
        justify-content: center;
    
        .Setting__Player {
            flex: 1 1 400px;
            max-width: 400px;
            margin: 0 25px;
        
            &_Number {
                font-size: 2.5em;
            }

            .Setting__Button {
                display: flex !important;
            
                & > *:first-child {
                    text-align: left;
                    flex: 1 1 100%;
                }
                
                & > *:last-child {
                    flex: 0 0 auto;
                    color: DarkGray;
                    min-width: 15px;
                }
            }
        }
    }
}