/* Side */
#CTX__Side {

    /* Player */
    .Side__Players {
        display: flex;
        justify-content: center;
        align-items: center;
        
        & > * {
            display: flex;
            flex: 1 1 $width-small;
            max-width: $width-small;
            order: 0;
        }

        .Side__Player {
            height: $height-small;
            flex-direction: column-reverse;
            align-items: flex-start;

            &:last-child {
                order: 2;
                align-items: flex-end;
            }

            &_Number {
                font-size: $font-size-large;
                margin: 0;
            }

            &_State {
                margin: 0;
                color: $font-disable-color;
            }
        }

        .Side__Empty {
            height: $height-large;
            order: 1;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }

    .Side__Controller {
        margin: $space-small auto;
        text-align: center;
        width: $width-tiny;
    
        .Side__Player & {
            margin: $space-large 0;
        }

        &_Name {
            font-size: 1.25em;
        }
    }
    
}