/* Stage */
#CTX__Stage {
    
    h2 {
        font-size: $font-size-medium;
    }
            
    h3 {

        font-size: 1.25em;
        text-align: center;
        font-family: $font-family;
            
        i {
            display: block;
            font-size: $font-size-small;
            color: $font-disable-color;
        }
    }

    /* Stage */
    .Stage__Stages {
        min-height: $height-tiny;

        .Menu__Layer {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: $space-small 0;

            & > * {
                transform: scale(0.75) !important;
                margin: 0 -$space-small;
                
                &.Menu__cursor_0 {
                    transform: scale(1) !important;
                    position: relative;
                }
            }
        }
    }

    .Stage__BGMs {
        margin-top: $space-medium;

        .Menu__Layer {

            display: flex;
            flex-direction: column;
            justify-content: center;
            
            & > * {
                margin: 0 auto;
                transform: scale(0.75) !important;
                opacity: 0.4;
                width: $width-small;

                &.Menu__cursor_0 {
                    transform: scale(1) !important;
                    opacity: 1;
                    position: relative;
                    z-index: 100;
                    order: 1;
                    margin: $space-small auto;
                }
                
                &.Menu__cursor_prev {
                    order: 0 !important;
                }
                
                &.Menu__cursor_next {
                    order: 2 !important;
                }
                
                &.Menu__cursor_hide {
                    display: none;
                }
            }
        }
    }
}