/* Title */
#CTX__Title {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	padding: 20px;

    h1 {
        font-size: 7em;

        span {
            display: block;
            font-size: 10px;
            color: DarkGray;
        }
    }

    ul {
        height: 128px;

        li {
            display: block;
        }
    }

    .Title__Information {
        margin: 15px auto;
        max-width: 500px;

        p {
            margin: 25px 0;
            color: darkgray;
        }
    }
}