// Input
.Training__InputButton {
    padding: 13px 0 0 8px;
    color: White;
    background-color: Black;
    margin: 0 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 0;
    border-radius: 50%;
    text-align: left;
    font-size: 10px;

    &.--dir {
        font-family: monospace;
        font-size: 16px;
    }
}

// Menu
.Training__Menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.25);

    .--menu & {
        display: flex;
    }

    .Menu__Layer:not(.Training__Menu_List_Character) {
        display: none;
        min-width: 300px;
        background-color: White;
        text-align: center;
        border: 2px solid Black;
        box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.25);

        &.--show {
            display: block;
        }

        ul {
            margin: 25px;
        }
    }
    
    .Training__Button {
        display: flex !important;
        align-items: center;
    
        & > *:first-child,
        & .Training__Button_Label {
            text-align: left;
            flex: 1 1 100%;
        }
        
        & > *:last-child,
        & .Training__Button_Option {
            flex: 0 0 auto;
            color: DarkGray;
            min-width: 15px;
            margin-left: 25px;
        }
    }

    &_Parameters {
        min-width: 400px !important; 
    }
}

// Command List
.Training__Menu_List {
    overflow: hidden;
    align-items: center;

    &.--show {
        display: flex !important;
    }

    &_Character {
        position: relative;
        display: none;
        background-color: rgba(255, 255, 255, 0.75);

        &.--show {
            display: block;
        }
    }

    &_Sprite {
        margin-left: 25px;
        position: relative;
        width: 200px;
        height: 200px;

        img {
            position: absolute;
            top: 50%;
            transform: translateY(-50%) !important;
            transform-origin: 100px 100px;
        }
    }
    
    &_Ki {
        width: 60px;
        margin: 0 25px 0 0 !important;
    }

    &_Command.--cancel {
        color: DarkGray;
    }
}

// History
.Training__History {
    position: absolute;
    top: 175px;
    bottom: 0;
    width: 175px;
    flex-direction: column-reverse;
    justify-content: flex-end;
    display: none;

    .--bHistory & {
        display: flex;
    }
    
    .--left & {
        right: 100%;
    }

    .--right & {
        left: 100%;
        text-align: right;
    }

    span {
        padding: 5px;
            
        i {
            color: DarkGray;
            padding: 0 5px;
            font-style: normal;
        }
    }
}

// Box
.Battle__Entity {

    .Training__Box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        & > * {
            display: none;
            position: absolute;
            border: 1px solid Black;
            background-color: rgba(White, 0.25);
            
            .--bBox &{
                display: block;
            }
        }
    }
    
    .Training__PositionBox > * {
        border-color: Black;
        background-color: rgba(Black, 0.25);
    }
    
    .Training__HurtBox > * {
        border-color: Lime;
        background-color: rgba(Lime, 0.25);
    }
    
    &.--guard .Training__HurtBox > * {
        border-color: Plum;
        background-color: rgba(Plum, 0.25);
    }
    
    &.--hit .Training__HurtBox > * {
        border-color: Orange;
        background-color: rgba(Orange, 0.25);
    }
    
    .Training__HitBox > * {
        border-color: Red;
        background-color: rgba(Red, 0.25);
    }
}

.Battle__Character {
    .Training__PositionBox > * {
        border-color: Deepskyblue;
        background-color: rgba(Deepskyblue, 0.25);
    }
}

// Animation
.Training__Animation {
    position: absolute;
    left: 4px;
    right: 4px;
    line-height: 5px;
    display: none;
    
    .--bAnimation & {
        display: block;
    }

    span {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 1px;
        background-color: Lime;

        &.--freeze {
            background-color: deepskyblue;
        }
        
        &.--guard {
            background-color: plum;
        }

        &.--damage {
            background-color: Red;
        }

        &.--invulnerable {
            background-color: White;
        }

        &.--hit {
            background-color: orange;
        }
    }
}