// Input
.Training__InputButton {
    padding: 5px;
    color: White;
    background-color: Black;
    margin: 0 2px;
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 14px;
    border-radius: 50%;
    text-align: center;
    font-size: 16px;
    vertical-align: middle;
}

// Menu
.Battle__Menu {
    
    .--menu.--training & .Battle__Menu_Principal {
        display: none;
    }

    & > .Training__Menu {
        display: none;
        min-width: 500px !important; 
        animation: 0.25s ease-in 0s 1 DS-KF-Appear;

        &.--show {
            display: block;
        }
    }
    
    .Training__Button {
        display: flex !important;
        align-items: center;
    
        & > *:first-child,
        & .Training__Button_Label {
            text-align: left;
            flex: 1 1 100%;
        }
        
        & > *:last-child,
        & .Training__Button_Option {
            flex: 0 0 auto;
            color: DarkGray;
            min-width: 15px;
            margin-left: 25px;

            &.--change {
                font-weight: bold;
                color: #333;
            }
        }
    }
}

// Command List
.Training__Menu_List {
    overflow: hidden;
    min-height: $height-large;

    &.--show {
        display: flex !important;
    }

    &_Character {
        position: relative;
        display: none;
        background-color: rgba(255, 255, 255, 0.75);
        margin-bottom: $space-medium !important;

        &.--show {
            display: block;
        }

        .Menu__Title:not(:first-child) {
            padding-top: $space-medium;
        }

        &_Command {
            min-width: $width-medium;
        }
    }
    
    &_Button {
        width: $width-small / 3;
        text-align: right;
    }

    .--cancel {
        color: $font-disable-color;
        font-size: $font-size-small;
    }
}

// History
.Training__History {
    position: absolute;
    top: 175px;
    bottom: 0;
    width: 175px;
    flex-direction: column;
    justify-content: flex-start;
    display: none;

    .--bHistory & {
        display: flex;
    }
    
    .--left & {
        right: 100%;
    }

    .--right & {
        left: 100%;
        text-align: right;
    }

    span {
        padding: 5px;
            
        i {
            color: DarkGray;
            padding: 0 5px;
            font-style: normal;
        }
    }
}

// Box
.Battle__Entity {

    .Training__Box {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        & > * {
            display: none;
            position: absolute;
            border: 1px solid Black;
            background-color: rgba(White, 0.25);
            
            .--bBox &{
                display: block;
            }
        }
    }
    
    .Training__PositionBox > * {
        border-color: Black;
        background-color: rgba(Black, 0.25);
    }
    
    .Training__HurtBox > * {
        border-color: Lime;
        background-color: rgba(Lime, 0.25);
    }
    
    &.--guard .Training__HurtBox > * {
        border-color: Deepskyblue;
        background-color: rgba(Deepskyblue, 0.25);
    }
    
    &.--launch .Training__HurtBox > *,
    &.--hit .Training__HurtBox > * {
        border-color: Orange;
        background-color: rgba(Orange, 0.25);
    }
    
    .Training__HitBox > * {
        border-color: Red;
        background-color: rgba(Red, 0.25);
    }
}

.Battle__Player {
    .Training__PositionBox > * {
        border-color: Plum;
        background-color: rgba(Plum, 0.25);
    }
}

// Data
.Training__Data {
    display: none;
    margin: 0 -25px;

    .--bData & {
        display: flex;
    }

    & > * {
        flex: 1 1 50%;
        max-width: 50%;
    }

    &_Info {
        display: flex !important;
        align-items: flex-start;
        text-align: left;
        line-height: 1em;
        padding: 5px 25px !important;
    
        & > *:first-child {
            flex: 0 0 auto;
        }
        
        & > *:last-child {
            font-weight: bold;
            flex: 1 1 100%;
            text-align: right;
            margin-left: $space-medium;
        }
    }
}

// Animation
.Training__Animation {
    line-height: 5px;
    display: block;
    text-align: left;
    padding: 10px 25px !important;

    span {
        display: inline-block;
        width: 4px;
        height: 4px;
        margin: 1px 0 1px 1px;
        background-color: Lime;
        box-shadow: 0 0 0 1px Black;

        &.--freeze {
            box-shadow: none;
            background-color: DarkGray;
        }
        
        &.--guard {
            background-color: deepskyblue;
        }

        &.--damage {
            background-color: Red;
        }

        &.--invulnerable {
            background-color: White;
        }

        &.--hit,
        &.--launch {
            background-color: orange;
        }
    }
}